body{
	background-image: url('concrete_wall_3.png');
	background-repeat: repeat;
}
.logo{
	left: 100px;
}
.navbar{
	margin-bottom: 0px;
}
.navbar-brand{
	position: absolute;
	top: 0;
  left: 250px;
}
.navbar-brand:hover{
	text-decoration: underline;
}
.navbar-nav{
	position: relative;
	top: 0;
	left: 300px;
	font-size: 18px;
	float: left;
}
.second{
	left: 600px;
	top: 0;
	float: left;
}
.carousel-inner img {
    margin: auto;
}
.carousel-caption{
	position: absolute;
  left: 0px;
	height: 150px;
  top: 0px;
  width: 300px;
  margin-right: 5px;
  z-index: 50;
  padding: 12px;
  color: #3D3D3D;
  text-transform: uppercase;
  background: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  opacity: 0.8;
}
.carousel-caption h3 p{
	font-size: 14px;
	display: block;
}

.carousel-control {
    background-image: none;
    background-color: none;
}
.carousel-control:hover {
    background-image: none;
    background-color: none;
}
.col-md-3{
	height: 250px;
	background-color: red; 
	margin: 5px; 
	
	left: 150px; top: 50px;
	padding: 0px;

}
.col-md-3 img{
	background-size:100% 100%;
  height: 100%;
  width: 100%;
}
.col-md-3:hover{
	border: 2px solid white;
	cursor: pointer;
}
